* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
}


#logo {
    width: 300px;
    height: 300px;
    margin-left: 38%;
}

h1 {
    text-align: center;
    color: rgb(1, 65, 1);
    font-size: 50px;

}

.pesquisa button img{
    width: 20px;
    height: 20px;
}

.pesquisa button {
    border: none;
    background-color: white;
}

.pesquisa input[type="text"] {
    text-align: center;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    width: 500px;
    margin-left: 30%;
    margin-bottom: 100px;
}

footer {
    background-color: rgb(22, 47, 22);
    color: gray;
    text-align: center;
    margin: 0;
    padding: 50px;
}

footer span {
    margin-right: 20px;
}

#desenv {
    margin-bottom: 0;
}

#infos {
    margin-bottom: 100px;
    margin-top: 0;
}

/* CARDS */

/* card.innerHTML = `
            <img class="imagemCard" src="${character.image}">`
            infos.innerHTML = `
                <h2 class="nome" > ${character.name}</h2>
                <h3 class="status" >${character.status} - ${character.species}</h3>
                <p class="ultimaLocal">
                    Última localização conhecida <br>
                    <b> ${character.location.name} </b> </p>
                <p class="ultimoEP">
                    Visto a última vez em: <b> ${episodeLink} </b> </p>
                ` */

.nome {
    color: rgb(1, 65, 1);
    font-size: 25px;
    margin-bottom: 1px;
    margin-top: 0;
}

.status {
    margin-top: 0;
    font-size: 15px;
}

.ultimaLocal {
    color: grey;
    font-size: 15px;
}

.ultimaLocal b {
    color: black;
}

.ultimoEP {
    color: grey;
    font-size: 15px;
}

.ultimoEP b {
    color: black;
}

.cardContainer {
    height: 200px;
    width: 100%;
}

.imagemCard {
    width: 150px; height: 150px;
    margin-right: 10px;
    margin-left: 200px;
    
}

.card {
    display: inline-block;
}

.infos {
    display: inline-block;
    margin-right: 10px;
}

button {
    background-color: rgb(1, 65, 1);
    color: white;
    margin-left: 10px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

.btnAnterior {
    background-color: green;
    margin-left: 470px;
    
}



