* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
}

header {
    background-color: rgb(22, 47, 22);
    border-bottom: 5px solid white;
}


#logo {
    width: 300px;
    height: 300px;
    margin-left: 38%;
}

#topo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255) !important;
    font-size: 25%;

}

.input-pesquisa {
    display: flex;
    justify-content: center;
}


.pesquisa input[type="text"] {
    text-align: center;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    width: 500px;
    margin-bottom: 100px;
}

footer {
    background-color: rgb(22, 47, 22);
    color: gray;
    text-align: center;
    margin: 0;
    padding: 50px;
}

footer span {
    margin-right: 20px;
}

#desenv {
    margin-bottom: 0;
}

#infos {
    margin-bottom: 100px;
    margin-top: 0;
}

/* CARDS */

/* card.innerHTML = `
            <img class="imagemCard" src="${character.image}">`
            infos.innerHTML = `
                <h2 class="nome" > ${character.name}</h2>
                <h3 class="status" >${character.status} - ${character.species}</h3>
                <p class="ultimaLocal">
                    Última localização conhecida <br>
                    <b> ${character.location.name} </b> </p>
                <p class="ultimoEP">
                    Visto a última vez em: <b> ${episodeLink} </b> </p>
                ` */

.nome {
    color: rgb(1, 65, 1);
    font-size: 25px;
    margin-bottom: 1px;
    margin-top: 0;
}

.status {
    margin-top: 0;
    font-size: 15px;
}

.ultimaLocal {
    color: grey;
    font-size: 15px;
}

.ultimaLocal b {
    color: black;
}

.ultimoEP {
    color: grey;
    font-size: 15px;
}

.ultimoEP b {
    color: black;
}




.cardContainer {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    height: 10%;
    width: 100%;
    /* border: orange 3px solid; */
    align-self: center;
}

.imagemCard {
    /* width: 150px; height: 150px; */
    width: 50%; height: 90%;
    margin-right: 10px;
    margin-left: 10px;
    border: blue 3px solid;
}

.card { /* informacoes do card */
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: aquamarine !important;
    height: 100%; width: 50%;
}

.content {
    padding-top: 15px;
    background-color: rgb(44, 44, 44);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.infos { /* card inteiro */
    /* display: inline-block; */
    display: flex;
    margin-right: 10px;
    border: rgb(1, 65, 1) 3px solid;
    background-color: antiquewhite;
    width: 40%;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(1, 65, 1);
    color: white;
    margin-left: 10px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

.btnAnterior {
    background-color: green;
    margin-left: 470px;
    
}



