* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
}

.background {
    background-image: url(../imagens/FUNDO_2.jpg);
    background-color: rgb(36, 36, 36);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
}

header img {
    width: 50px;
    height: 50px;
    margin-bottom: 100px;
}


header {
    background-color: white;
    border-bottom: 8px solid rgb(22, 47, 22);
    margin-bottom: 100px;
    padding-bottom: 100px;
    animation: backgroundChange 3s infinite;
}


#logo {
    width: 300px;
    height: 300px;
    
}

.alertError {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#topo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    text-align: center;
    /* color: rgb(0, 87, 0) !important; */
    font-size: 60px !important;
    margin-bottom: 30px !important;
    animation: colorChange 3s infinite ;

}


.input-pesquisa {
    display: flex;
    justify-content: center;
}


.pesquisa input[type="text"] {
    text-align: center;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    width: 500px;
    margin-bottom: 100px;
}

.bloquinho {
    height: 4px;
    background-color: azure;
    width: 10%;
    animation: dividir 3s infinite;
}

@keyframes dividir {
        from {
          width: 100%;
        }
      
        to {
          width: 1%;
        }
}

footer {
    background-color: rgb(22, 47, 22);
    color: gray;
    text-align: center;
    margin: 0;
    padding: 50px;
}

footer span {
    margin-right: 20px;
}

#desenv {
    margin-bottom: 0;
}

#infos {
    margin-bottom: 100px;
    margin-top: 0;
}

.espaco {
    height: 100px;
}

/* CARDS */

/* card.innerHTML = `
            <img class="imagemCard" src="${character.image}">`
            infos.innerHTML = `
                <h2 class="nome" > ${character.name}</h2>
                <h3 class="status" >${character.status} - ${character.species}</h3>
                <p class="ultimaLocal">
                    Última localização conhecida <br>
                    <b> ${character.location.name} </b> </p>
                <p class="ultimoEP">
                    Visto a última vez em: <b> ${episodeLink} </b> </p>
                ` */

.nome {
    color: white;
    font-size: 25px;
    margin-bottom: 2px;
    margin-top: 0;
}

.status {
    margin-top: 0;
    font-size: 15px;
    color: rgb(140, 255, 53);
}

.ultimaLocal {
    color: rgb(237, 237, 237);
    font-size: 15px;
}

.ultimaLocal b {
    color: rgb(255, 255, 255);
}

.ultimoEP {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.ultimoEP b {
    color: rgb(255, 255, 255);
}




.cardContainer {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    height: 10%;
    width: 100%;
    /* border: orange 3px solid; */
    align-self: center;
    margin-bottom: 20px;
}

.imagemCard {
    /* width: 150px; height: 150px; */
    width: 50%; height: 90%;
    margin-right: 10px;
    margin-left: 10px;
    border: rgb(22, 47, 22) 5px solid;
}

.card { /* informacoes do card */
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(55, 55, 55) !important;
    height: 100%; width: 50%;
}

.content {
    padding-top: 15px;
    /* background-color: rgb(44, 44, 44); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.infos { /* card inteiro */
    /* display: inline-block; */
    display: flex;
    margin-right: 10px;
    border: rgb(22, 47, 22) 5px solid;
    background-color: rgb(55, 55, 55);
    width: 40%;
    justify-content: center;
    align-items: center;
}

.infos:hover {
    border: solid 5px white;
}

button {
    background-color: rgb(1, 65, 1);
    color: white;
    margin-left: 10px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

button:hover {
    border: solid 2px white;
}

#paginacao {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.btnAnterior {
    background-color: green;
    margin-right: 6px;
    
}

/* MODAL */

.modal-title {
    width: 100%;
    height: 100%;
    /* border: 3px red solid; */
    margin: 0 !important;
}

.btn-close {
    padding: 10px !important;
    margin: 20px !important;
}

.btn-close:hover {
    background-color: rgb(123, 0, 0) !important;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-image {
    width: 50%;
    height: 50%;
    border: rgb(22, 47, 22) 5px solid;
    border-radius: 50%;
    margin-bottom: 30px;
}

.status-modal {
    /* border: 2px red solid; */
    color: green;
    margin-bottom: 20px;
}

.ultimaLocal-modal {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ultimoEP-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px red solid;   */
}

.btn-abrir {
    border-radius: 20px;
}


/* ANIMATIONS  */

  @keyframes backgroundChange {
    0% { background-color: white ; }
    50% { background-color: rgb(7, 71, 7) ; }
    100% { background-color: white ; }
  }

  @keyframes colorChange {
    0% { color: rgb(7, 71, 7) ; }
    50% { color: white ; }
    100% { color:  rgb(7, 71, 7) ; }
  }
  



  /* ALERTA */

 .alert {
    display: flex;
    justify-content: center;
 }



 @media (max-width: 913px) {

        .cardContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 50%;
            width: 100%;
            margin-bottom: 0px;
        }
        
        .infos {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

  }